<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HotRod Category"
            id="hotrod-category">
      </category>
      <view
            name="HotRod"
            icon="eclipse-plugin/icons/hotrod1-16.png"
            category="hotrod-category"
            class="org.hotrod.eclipseplugin.HotRodView"
            id="org.hotrod.eclipseplugin.HotRodView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.hotrod.eclipseplugin.HotRodView">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
