<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

  <!-- Basic Spring configuration - fix as needed -->
  
  <context:annotation-config />

  <tx:annotation-driven transaction-manager="transactionManager" />

  <context:component-scan base-package="persistence" />
 
  <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
    <property name="driverClassName" value="org.h2.Driver" />
    <property name="username" value="sa" />
    <property name="password" value="" />
    <property name="url" value="jdbc:h2:tcp://localhost:9092/./db1" />
  </bean> 
 
  <!-- Main Spring beans -->

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="primitives/mybatis-configuration.xml" />
  </bean>

  <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlSessionFactory" />
  </bean>

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!-- Model beans -->

  <bean id="managerCuentas" class="model.ManagerCuentas">
    <property name="sqlSession" ref="sqlSession" />
    <property name="cuentaDAO" ref="cuentaDAO" />
    <property name="reportesDAO" ref="reportesDAO" />
  </bean>

  <!-- DAOs -->
  
  <bean id="clienteDAO" class="persistence.primitives.ClienteDAO">
    <property name="sqlSession" ref="sqlSession" />
  </bean>

  <bean id="cuentaDAO" class="persistence.primitives.CuentaDAO">
    <property name="sqlSession" ref="sqlSession" />
  </bean>

  <bean id="reportesDAO" class="persistence.primitives.ReportesDAO">
    <property name="sqlSession" ref="sqlSession" />
  </bean>

</beans>
