<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">

  <Appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p [%T] %C{1}(%L) - %m%n" />
    </Console>

  </Appenders>

  <Loggers>

    
    <!-- 
    <Logger name="org.hotrod.metadata.TableDataSetMetadata" level="debug" />
    <Logger name="org.hotrod.generator.HotRodContext" level="debug" />
    <Logger name="org.hotrod.config.AbstractHotRodConfigTag" level="debug" />

    <Logger name="org.nocrala.tools.database.tartarus.connectors.DatabaseConnector" level="debug" />
    <Logger name="org.nocrala.tools.database.tartarus.core.JdbcDatabase" level="debug" />

    <Logger name="org.hotrod.config.ConfigurationLoader" level="debug" />
    -->

    <!-- Logging MyBatis persistence -->
    <!--Logger name="daos.primitives.vendor.selectByPK" level="debug" / -->
    <!-- Logger name="com.dol.lzcontroller.sql.primitives.transmission.insert" level="trace" /-->

    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
    
  </Loggers>

</Configuration>
