<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%T] %-5p %C{1}(%L) - %m%n" />
    </Console>

    <RollingFile name="RollingFile" filename="${env:LOG_DIR}/app.log" filepattern="${env:LOG_DIR}/app-%d{YYYYMMdd-HHmmss}.log">
      <PatternLayout pattern="%d{DEFAULT} [%T] %-5p %C{1}(%L) - %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="30 MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingFile>
 
  </Appenders>

  <Loggers>

    <!-- Adding logging to specific Java classes -->
    <!-- <Logger name="com.company.servlets.Queries" level="debug" /> -->

    <!-- Logging a MyBatis whole mapper, or a specific query -->
    <!-- <Logger name="com.company.daos.primitives.account" level="debug"> -->
    <!-- <Logger name="com.company.daos.primitives.account.selectByPK" level="debug"> -->

    <!-- Set default logger level to INFO -->
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
      <!-- 
      -->
    </Root>

  </Loggers>

</Configuration>
