<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>My Web Application</display-name>

  <!-- Filters -->

  <filter>
    <filter-name>GateFilter</filter-name>
    <filter-class>com.company.filters.GateFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Web Application Context Listener -->

  <listener>
    <listener-class>com.company.contextlisteners.MainContextListener</listener-class>
  </listener>
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>RetrieveServlet</servlet-name>
    <servlet-class>com.company.servlets.RetrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveServlet</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>  

  <!-- Welcome files -->

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
