<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p [%T] %C{1}(%L) - %m%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="${package}.App" level="info" />
    <!--Logger name="${package}.${persistencepackage}.primitives" level="debug" / -->
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>

</Configuration>
